.header{
    height: 3rem;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
  }
  .header .Hleft{
    float: left;
    width: 2.125rem;
    height: 100%;
  }
  .header .Hleft .icon-title{
    display: inline-block;
    margin:15px 0 0 15px;
    width: 1.125rem;
    height: 0.875rem;
    background: url(/img/h2.png) no-repeat;
    background-size: cover;
  }
  .Hcenter{
    width: 2.5rem;
    height: 1rem;
    float: left;
    margin: 0.8125rem 0 0 1rem;
    background: url(/img/h5.png) no-repeat left center;
    background-size: contain;
    font-size: 0.75rem;
    text-align: right;
  }
  .icon-book{
    display: block;
    float: left;
    width: 7.5rem;
    position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
  }
  .icon-book .booka{
    display: inline-block;
    width: 3.75rem;
    height: 3rem;
  }
  .icon-book img{
    width: 3.75rem;
    height: 3rem;
  }
  .Hright{
    float: right;
    width: 6rem;
    margin-top: 15px;
  }
  .Hright .Iright1{
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    background: url(/img/h3.png) no-repeat;
    background-size: cover;
    margin-right: 0.625rem;
  }
  .Hright .Ha2{
    width: 30%;
    height: 100%;
    display: inline-block;
  }
  .Hright .Iright2{
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    background: url(/img/h4.png) no-repeat;
    background-size: cover;
  }
  /*--------------------------------------------------------top-header-menu-*/
  .top-header-menu{
    display: none;
    position: absolute;
    left: 0;
    top: 3rem;
    width: 100%;
    height: 3.25rem;
    background: #fff;
    overflow: hidden;
    /* display: none; */
    box-shadow: 0px 0.4375rem 0.625rem 0px rgba(145, 145, 145, 0.50);
    z-index: 10000;
  }
  .top-header-menu li{
    padding: 0 1.6875rem;
    margin: 0 -22px 0 -41px;
}
  .top-header-menu li a {
    display: block;
    width: 33%;
    padding-top: 5px;
    float: left;
    text-align: center;
    line-height: 0;
}
.top-header-menu li a img{
  width: 1.5625rem;
  height: 1.5625rem;
}
.top-header-menu a span {
  display: block;
  line-height: 20px;
  color: #442818;
  text-align: center;
}
